@use 'variables'

*
  margin: 0
  padding: 0
  font-family: variables.$font-default
  box-sizing: border-box
  text-decoration: none

body
  background: variables.$gradient-default variables.$green no-repeat fixed
  color: variables.$white
  height: 100%

.wrapper
  padding-inline: 10.313rem

.header-container
  display: flex
  justify-content: space-between
  align-items: center
  padding-block: 2.563rem 4.744rem

  .social-links
    display: flex
    gap: 1.938rem

    svg:hover path
      animation: svg-hover 1.5s ease alternate

@keyframes svg-hover
  0%
    stroke-width: 0
    stroke-dasharray: 1 100

  25%
    stroke-width: 2

  100%
    stroke-width: 1
    stroke-dasharray: 100 1

main
  display: flex
  justify-content: space-between

  .left-main

    h2
      font-size: 1.25rem
      line-height: 1.875rem
      font-weight: 700
      letter-spacing: 3%

      margin-bottom: 0.875rem

    h1
      font-size: 4.25rem
      font-weight: 900
      line-height: 109%

      margin-bottom: 1.563rem

    p
      font-size: 1rem
      font-weight: 400

      margin-bottom: 2.875rem

    .left-main-buttons

      display: flex
      gap: 2rem

      a:nth-child(1)

        background-color: variables.$green

        display: flex
        align-items: center
        justify-content: center
        position: relative
        gap: 0.625rem

        border: 0

        font-size: 1rem
        font-weight: 500
        line-height: 28.8px
        color: variables.$white

        padding-block: 0.5rem
        padding-inline: 1rem 1.063rem

        transform: skew(-21deg)

        &:hover
          background-color: variables.$green-dark
          color: variables.$white
          transform: skew(-21deg)
          transition: all 0.3s ease-in-out

        & > span
          display: inline-block
          transform: skew(21deg)

          display: flex
          align-items: center
          gap: 0.625rem

      a:nth-child(2)

        display: flex
        align-items: center

        font-size: 1rem
        font-weight: 500
        line-height: 28.8px
        color: variables.$white
        border: 2px solid variables.$green

        padding-block: 0.5rem
        padding-inline: 1rem 1.063rem

        background: transparent

        transform: skew(-21deg)

        transition: all 0.2s ease-in-out

        &:hover
          background: variables.$green
          color: variables.$white

        & > span
          display: inline-block
          transform: skew(21deg)

          display: flex
          align-items: center
          justify-content: center

  .right-main

    img
      position: relative
      top: -3.5rem
      right: -3.5rem

@media screen and ( max-width: 1220px  )

  .wrapper
    padding-inline: 8.313rem

  main
    display: flex
    flex-direction: column-reverse

  .right-main

    img
      width: 25vw
      position: relative
      top: -3.5rem
      right: -3.5rem

@media screen and ( max-width: 768px  )

  .wrapper
    padding-inline: 8.313rem

  main
    display: flex
    flex-direction: column-reverse

  .right-main

    img
      width: 60%
      height: auto
      transform: translateX(-40px)

@media screen and ( max-width: 675px  )

  .wrapper
    padding-inline: 4.313rem
    padding-bottom: 2rem

  .header-container
    display: flex
    flex-direction: column
    gap: 1.25rem

    justify-content: center
    align-items: center

  .social-links
    display: flex
    flex-direction: row
    gap: 1.938rem

  main

    .right-main
      display: flex

      img
        width: 60%
        height: auto
        margin: 0 auto

    .left-main-buttons

      display: flex
      flex-direction: column

      a:nth-child(2)

        display: flex
        align-items: center

        font-size: 1rem
        font-weight: 500
        line-height: 28.8px
        color: variables.$white
        border: 2px solid variables.$green

        padding-block: 0.5rem
        padding-inline: 1rem 1.063rem

        background: transparent

        transform: skew(-21deg)

        & > span
          display: inline-block
          transform: skew(21deg)

          display: flex
          align-items: center
          justify-content: center
          margin: 0 auto

@media screen and ( max-width: 375px  )

  .wrapper
    padding-inline: 1.313rem
    padding-bottom: 1rem

  main

    .right-main

      display: flex

      img
        width: 60%
        height: auto
        margin: 0 auto
